<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.1" />
      </system.Web>
  -->
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <connectionStrings>
    <add name="POSTAConnectionString" connectionString="Data Source=192.168.10.218;Initial Catalog=RABack;Persist Security Info=true;User ID=sa;Password=P@ssw0rd" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.6" debug="true"/>
    <httpRuntime targetFramework="4.6"/>
    <sessionState mode="InProc" timeout="2"/>
    <customErrors mode="Off"/>
  </system.web>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="C:/RAFront Logs/Logs/RAFrontLogs"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <datePattern value="-yyyy-MM-dd'.txt'"/>
      <maxSizeRollBackups value="500"/>
      <maximumFileSize value="100MB"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%newline[%date{dd MMM yyyy HH:mm:ss.fff}](%thread) %-5level: %message (%location)%newline"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
  </log4net>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="rs.posta.wsp.WSPWrapperService" value="https://wsp.posta.rs/WSPWrapperService.asmx"/>
    <add key="ErrorPage" value="https://testpki.pis.rs/Posta/Greska.aspx"/>
    <add key="ClientSslAuthenticationURL" value="https://testpki.pis.rs/ClientSslAuthentication/readCertificate.aspx?d="/>
    <add key="ReturnURL" value="https://testpki.pis.rs/Posta/zahtev-provera-datuma-isticanja-sertifikata.aspx"/>
    <add key="ReturnURLRevocation" value="https://testpki.pis.rs/Posta/provera-opozvanosti-sertifikata.aspx"/>
    <add key="ReturnURLChangeStatus" value="https://testpki.pis.rs/Posta/zahtev-promena-statusa-sertifikata.aspx"/>
    <add key="P12ErrorPage" value="https://testpki.pis.rs/Posta/GreskaVreme.aspx"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPisMessService">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://testpki.pis.rs/PisMess/PisMess.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPisMessService"
        contract="PisMessServiceReference.IPisMessService" name="BasicHttpBinding_IPisMessService" />
    </client>
  </system.serviceModel>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="index.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="5"/>
    </connectionManagement>
  </system.net>
</configuration>
<!--ProjectGuid: a10ba21f-a8d5-457e-8931-4ac23bf10a7e-->