.calTodayDay
{
      color: black;
      background-color: #cccccc;
}
.calSelector
{
      background-color: #cccccc;
}

.calNextPrev
{
      vertical-align: sub;
}

.calDayHeader
{
      font-size: 7pt;
      background-color: #cccccc;
      font-weight: bold;
      text-align: center;
}

.calSelectedDay
{
      font-weight: bold;
      color: white;
      background-color: #666666;
}

.calTitle
{
      font-weight: bold;
      border-left-color: black;
      border-bottom-color: black;
      border-top-color: black;
      background-color: #999999;
      border-right-color: black;
      text-align: center;
}

.calWeekendDay
{
      background-color: ghostwhite;
}

.calOtherMonthDay
{
      color: gray;
}
