	    .txtbox {
		height: 5%;
                width: 25%;
                padding: 5px 10px;
                margin: 0 0;
                display: inline-block;
                border: 1px solid #ccc;
                border-radius: 4px;
		box-sizing: border-box;
            }
            .txtbox1 {
		height: 5%;
                width: 20%;
                padding: 5px 10px;
                margin: 0 0;
                display: inline-block;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
            }
            .txtbox2 {
		height: 5%;
                width: 17%;
                padding: 5px 10px;
                margin: 0 0;
                display: inline-block;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
            }
            .txtbox3 {
		height: 5%;
                width: 30%;
                padding: 5px 10px;
                margin: 0 0;
                display: inline-block;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
            }
            .txtbox4 {
		height: 5%;
                width: 47%;
                padding: 5px 10px;
                margin: 0 0;
                display: inline-block;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
            }
            .txtbox5 {
                height: 5%;
                width: 47%;
                padding: 5px 10px;
                margin: 0 0;
                display: inline-block;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
            }
            .txtbox7 {
		height: 5%;
                width: 55%;
                padding: 5px 10px;
                margin: 0 0;
                display: inline-block;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
            }
            .txtbox8 {
                height: 5%;
                width: 55%;
                padding: 5px 10px;
                margin: 0 0;
                display: inline-block;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
            }
	    .txtboxgrey5 {
		height: 5%;
                width: 35%;
                padding: 5px 10px;
                margin: 0 0;
                display: inline-block;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
		background-color:#F5F5F5;
		}
	     .txtboxgrey {
		height: 5%;
                width: 22%;
                padding: 5px 10px;
                margin: 0 0;
                display: inline-block;
                border: 1px solid #ccc;
                border-radius: 4px;
		box-sizing: border-box;
		background-color:#F5F5F5;
		}
	      .txtboxgrey9 {
		height: 5%;
                width: 17%;
                padding: 5px 10px;
                margin: 0 0;
                display: inline-block;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
		background-color:#F5F5F5;
		}
            .top5 { margin-top:5px; }
            .top7 { margin-top:7px; }
            .top10 { margin-top:10px; }
            .top15 { margin-top:15px; }
            .top20 { margin-top:20px; }
            .top30 { margin-top:30px; }